# Discord webhook URL
WEBHOOK_URL=

# Swansea recycling search page URL
RECYCLING_PAGE_URL=https://www1.swansea.gov.uk/recyclingsearch/?lang=eng

# Recycling postcode 
RECYCLING_POSTCODE=

# Comma-separated list of user IDs to ping (optional)
PING_USER_IDS=
# Randomly pick one person from the above list each time (true/false, optional. Default: false)
RANDOMIZE_PING=false

# Holiday date range (DD-MM format). Will show link to social media updates if 
# collection date falls in this period. (optional)
HOLIDAY_RANGE_START=01-12
HOLIDAY_RANGE_END=01-01
